:root {
  --clr--light: hsl(0, 0%, 98%);
  --clr--grey: hsl(0, 0%, 41%);
  --clr--dark: hsl(0, 0%, 8%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr--light);
  color: var(--clr--dark);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* ================================================================= */
.navbar {
  position: relative;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_left {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 3em;
}

.nav {
  position: absolute;
  background-color: var(--clr--grey);
  top: 0;
  right: -6%;
  transform: translateX(150%);
  width: 60%;
  height: 100vh;
  padding: 5em 1em;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feature_dropdown_content,
.company_dropdown_content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 1.5em;
  display: none;
}

.nav_links:hover {
  border-bottom: 1px solid var(--clr--dark);
}

.close_nav_btn {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  font-size: 3rem;
  cursor: pointer;
}

.menu_toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar_right {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em auto;
}

.navbar_right a {
  padding: 0.5em;
}

.navbar_right a:last-of-type {
  width: 100%;
  border: 1px solid var(--clr--dark);
  border-radius: 0.5em;
}

.nav_link_hovered2 {
  display: none;
}

@media screen and (min-width: 730px) {
  .nav {
    position: initial;
    top: initial;
    right: initial;
    transform: translateX(0);
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: initial;
  }

  .nav_list {
    flex-direction: row;
  }

  .menu_toggle {
    display: none;
  }

  .close_nav_btn {
    display: none;
  }

  .nav_item a {
    display: flex;
  }

  .navbar_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    flex-direction: row;
    gap: 1em;
    width: auto;
    margin-top: 0;
  }

  .feature_dropdown_content,
  .company_dropdown_content {
    display: none;
    position: absolute;
    top: 2em;
    padding: 1em;
    background-color: red;
    border-radius: 0.3em;
  }

  .feature_dropdown_content {
    left: -3em;
  }

  .feature_dropdown_content a {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .navbar_right a:last-of-type {
    padding: 0.2em 1em;
  }
}

/*  */
.desktop_image{
  display: none;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  /* grid-template-rows: repeat(2, 1fr); */
}

.hero_text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1em;
  gap: 1em;
}

.hero_title{
  font-size: 2rem;
}

.hero_CTA{
  background-color: var(--clr--dark);
  padding: .5em 1em;
  color: var(--clr--light);
  border-radius: .5em;
}

.brand_container{
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 2em;
}
